.contact-container {
    padding-top: 35px;
}

.contact-container  h1 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.contact-container  p {
    font-size: 1.25rem;
    margin-bottom: 25px;
    font-weight: 100;
    width: 500px;
    line-height: 0.9;
}

.icons {
  height: 30px;
}
